@font-face {
  font-family: "NATS";
  src: url("/fonts/NATS-Regular.ttf");
}

$primary: #957f63;

$padding: 24px;

$max-width: 1600px;

$font: "Poppins", sans-serif;
$font--header: "NATS";
